parameters:
    inferPrivatePropertyTypeFromConstructor: true
    excludes_analyse:
        - %currentWorkingDirectory%/src/DependencyInjection/Configuration.php
    ignoreErrors:
        - "#Method .+EventDispatcher(?:Interface)?::dispatch.+ invoked with 2 parameters, 1 required.#"
